<%= form_for(@investor_update) do |f| %>
  <% if @investor_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investor_update.errors.count, "error") %> prohibited this investor_update from being saved:</h2>

      <ul>
      <% @investor_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
