<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term, ["6 months", "9 months", "1 year", "2 years", "3 years", "5 years"], {:include_blank => "Please select a term"} %>
  </div>
  <div class="field">
    <%= f.label :loan_position %><br>
    <%= f.select :loan_position, ["First lien", "Second/junior lien"], {:include_blank => "Please select a position"} %>
  </div>
  <div class="field">
    <%= f.label :funded_date %><br>
    <%= f.date_select :funded_date %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %><br>
    <%= f.text_field :purchase_price %>
  </div>
  <div class="field">
    <%= f.label :current_value %><br>
    <%= f.text_field :current_value %>
  </div>
  <div class="field">
    <%= f.label :borrowers_equity %><br>
    <%= f.text_field :borrowers_equity %>
  </div>
  <div class="field">
    <%= f.label :completion_value %><br>
    <%= f.text_field :completion_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
