<p id="notice"><%= notice %></p>

<h1>Listing Deals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Address</th>
      <th>Amount</th>
      <th>Term</th>
      <th>Loan position</th>
      <th>Funded date</th>
      <th>Purchase price</th>
      <th>Current value</th>
      <th>Borrowers equity</th>
      <th>Completion value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.user_id %></td>
        <td><%= deal.name %></td>
        <td><%= deal.address %></td>
        <td><%= deal.amount %></td>
        <td><%= deal.term %></td>
        <td><%= deal.loan_position %></td>
        <td><%= deal.funded_date %></td>
        <td><%= deal.purchase_price %></td>
        <td><%= deal.current_value %></td>
        <td><%= deal.borrowers_equity %></td>
        <td><%= deal.completion_value %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
